<%= tinymce_assets %>
<%= form_for([@article, @article.comments.build]) do |f| %>

<!--div class="commentsview"> -->
      <div class="commentshead">
      <strong><i class="fa fa-user" aria-hidden="true"></i> <%= current_user.username %></strong>
      </div>
      <%= f.label :body, 'Uw reactie:', :class => "commentshead" %><br>
      <%= f.text_area :body, :class => "", :rows => 10, :cols => 20  %>
      <%= tinymce %>

    <div class="notice_wrapper">
      <% if flash[:succes] %>
      <i class="fa fa-check" aria-hidden="true"> </i><%= flash[:succes] %>
        <% end %>
      <% if flash[:error] %>
        <div class="alert_wrapper"><span class="label alert"><i class="fa fa-exclamation" aria-hidden="true"> </i><%= flash[:error] %></span></div>
      <% end %>
    </div>
        <p>
          <%= button_tag type: 'submit', class: "button ala", id:"submitbutton" do %>
          <i class="fa fa-comment" aria-hidden="true"></i>
          <% end %>
        </p>
    <% end %>
