<%= tinymce_assets %>
<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
  <div class="notice_wrapper">
      <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
  <% end %>
</div>
   <div class="large-12 columns">
      <p>
        <%= f.label :title, "Nieuwskop", :class => 'labelbox' %><br>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label :text, "Inhoud", :class => 'labelbox' %><br>
        <%= f.text_area :text, :class => "tinymce", :rows => 20, :cols => 120  %>
        <%= tinymce %>
      </p>
      <p><%= f.submit 'Klaar!', :class => 'button ala' %> <%= link_to 'Terug', articles_path, :class => "button ala" %></p>
      <%= f.file_field :image %>
</div>

<% end %>
