<div class="pagebackground">
<%= render 'layouts/header' %>
<%= render 'layouts/topbar' %>
  <div class="contentnews">
    <%= render 'layouts/bannerad' %>
      <div class="row">
        <% if user_signed_in? %>
              <%= link_to 'Nieuws toevoegen', new_article_path, :class => "button ala" %>
        <% end %>
          <%= render 'overview' %>
      </div>
    </div>
  </div>
<%= render 'layouts/footer' %>
