<div class="pagebackground">
<%= render 'layouts/header' %>
<%= render 'layouts/topbar' %>
<% if user_signed_in? %>
<%= render 'articles/navigatieshow.html' %>
<% end %>


<div class="row">
<div class="large-9 small-12 columns">
<div class="content">
<div class="container1">
  <div class="row">
    <div class="large-12 columns omvat">
      <div class="nieuwskop">
        <%= @article.title %><br>
      </div>
      <div class="nieuwsbody">
        <%= @article.text.html_safe %>
      </div>
    </div>
  </div>
  <%= render 'layouts/bannerad' %>
  <%= render @article.comments %>

</div>
</div>
</div>


<div class="large-3 small-12 columns">
<div class="sidebar">

  <div class="commentform">
    <%= render 'comments/form' %>
  </div>
</div>
</div>
</div>
  <%= render partial: 'articles/overviewunder' %>
</div>
<%= render 'layouts/footer' %>
