<div class="backgroundall">
<%= render 'layouts/header' %>
<%= render 'layouts/topbar' %>
<%= render 'layouts/diensten' %>
<%= render 'layouts/sectiona' %>
<%= render 'layouts/sectionb' %>
</div>
<%= render 'layouts/sectionc' %>

<%= render 'layouts/bannerad' %>

<%= render 'layouts/footer' %>
