<section class="section-c">
  <div class="row">
    <div class="columns large-2">
      <%= image_tag("badges/shield.png") %>
      <h4>Beveiliging</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="columns large-2">
      <%= image_tag("badges/handshake.png") %>
      <h4>Service</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="columns large-2">
      <%= image_tag("badges/snel.png") %>
      <h4>Optimalisatie</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="columns large-2">
      <%= image_tag("badges/seo.png") %>
      <h4>SOE</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="columns large-2">
      <%= image_tag("badges/doelen.png") %>
      <h4>Doelen</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="columns large-2">
        <%= image_tag("badges/creativity.png") %>
      <h4>Creativiteit</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    </div>
</section>
